_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor

_config.yml
_site/404.html
_site/_pages/dropdown/index.html
_site/blog/2022/hodge-1/index.html
_site/blog/2022/hodge-2/index.html
_site/blog/2022/hodge-3/index.html
_site/blog/2022/index.html
_site/blog/category/french/index.html
_site/blog/category/math/index.html
_site/blog/index.html
_site/blog/tag/deligne/index.html
_site/blog/tag/hodge-theory/index.html
_site/cv/index.html
_site/feed.xml
_site/index.html
_site/miscellaneous/index.html
_site/news/2022_article_A1_published/index.html
_site/news/2023_article_A2_prepublished/index.html
_site/news/2023_conf_ANR_FRACASSO_workshop/index.html
_site/news/2023_conf_lesDiablerets/index.html
_site/news/2023_conf_talk_May/index.html
_site/news/2023_phd_defense/index.html
_site/news/2023_postdocISTA/index.html
_site/news/2023_talk_CIRM/index.html
_site/projects/index.html
_site/research/index.html
_site/robots.txt
_site/sitemap.xml
_site/teaching/index.html
_site/404.html
_site/_pages/dropdown/index.html
_site/assets/pdf/FAISANT_MémoireRendu150620.pdf
_site/blog/2022/hodge-1/index.html
_site/blog/2022/hodge-2/index.html
_site/blog/2022/hodge-3/index.html
_site/blog/2022/index.html
_site/blog/category/french/index.html
_site/blog/category/math/index.html
_site/blog/index.html
_site/blog/tag/deligne/index.html
_site/blog/tag/hodge-theory/index.html
_site/cv/index.html
_site/feed.xml
_site/index.html
_site/miscellaneous/index.html
_site/news/2022_article_A1_published/index.html
_site/news/2023_article_A2_prepublished/index.html
_site/news/2023_conf_ANR_FRACASSO_workshop/index.html
_site/news/2023_conf_lesDiablerets/index.html
_site/news/2023_conf_talk_May/index.html
_site/news/2023_phd_defense/index.html
_site/news/2023_postdocISTA/index.html
_site/news/2023_talk_CIRM/index.html
_site/projects/index.html
_site/research/index.html
_site/teaching/index.html
_site/404.html
_site/_pages/dropdown/index.html
_site/assets/css/main.css
_site/assets/css/main.css.map
_site/assets/img/prof_pic.jpg
_site/blog/2022/hodge-1/index.html
_site/blog/2022/hodge-2/index.html
_site/blog/2022/hodge-3/index.html
_site/blog/2022/index.html
_site/blog/category/french/index.html
_site/blog/category/math/index.html
_site/blog/index.html
_site/blog/tag/deligne/index.html
_site/blog/tag/hodge-theory/index.html
_site/cv/index.html
_site/feed.xml
_site/index.html
_site/miscellaneous/index.html
_site/news/2022_article_A1_published/index.html
_site/news/2023_article_A2_prepublished/index.html
_site/news/2023_conf_ANR_FRACASSO_workshop/index.html
_site/news/2023_conf_lesDiablerets/index.html
_site/news/2023_conf_talk_May/index.html
_site/news/2023_phd_defense/index.html
_site/projects/index.html
_site/research/index.html
_site/sitemap.xml
_site/teaching/index.html
_site/404.html
_site/_pages/dropdown/index.html
_site/assets/css/main.css
_site/assets/css/main.css.map
_site/assets/img/prof_pic.jpg
_site/blog/2022/hodge-1/index.html
_site/blog/2022/hodge-2/index.html
_site/blog/2022/hodge-3/index.html
_site/blog/2022/index.html
_site/blog/category/french/index.html
_site/blog/category/math/index.html
_site/blog/index.html
_site/blog/tag/deligne/index.html
_site/blog/tag/hodge-theory/index.html
_site/cv/index.html
_site/feed.xml
_site/index.html
_site/miscellaneous/index.html
_site/news/2022_article_A1_published/index.html
_site/news/2023_article_A2_prepublished/index.html
_site/news/2023_conf_ANR_FRACASSO_workshop/index.html
_site/news/2023_conf_lesDiablerets/index.html
_site/news/2023_conf_talk_May/index.html
_site/news/2023_phd_defense/index.html
_site/projects/index.html
_site/research/index.html
_site/sitemap.xml
_site/teaching/index.html
